/* Font sizes 

Unify breakpoints

xs > 18em
sm > 28em
md > 40em
lg > 52em
xl > 60em
xxl > 80em

18
28
38 - 40
52 - 58

*/
/*
@media (min-width: 18em) {
    :root {
     --size-base: 0.9rem;
     --size-md: 1.4rem;
     --size-lg: 1.4rem;
     --size-xl: 2rem;
     --size-xxl: 3rem;
}
}

 @media (min-width: 28em) {
     :root {
     --size-base: 0.9rem;
     --size-md: 1.2rem;
     --size-lg: 1.8rem;
     --size-xl: 2.4rem;
     --size-xxl: 4.6rem;
 }
 }

 @media (min-width: 38em) {
    :root { --size-base: 0.9rem;
     --size-md: 1.6rem;
     --size-lg: 2rem;
     --size-xl: 3rem;
     --size-xxl: 5.4rem;
 }
 }

 @media (min-width: 52em) {
     :root {
         --size-base: 1.2rem;
         --size-md: 2rem;
         --size-lg: 2.4rem;
         --size-xl: 3rem;
         --size-xxl: 7rem;
 }
 }
*/
/* Spacing and gaps */
:root {

    /* Deprecated
     --size-base: 1.1rem;
     --size-md: 1.4rem;
     --size-lg: 1.4rem;
     --size-xl: 2rem;
     --size-xxl: 3rem;

*/
    --size-base: 1rem;
    --size-0: clamp(var(--size-base), calc(var(--size-base) + 0.3vw), calc( var(--size-base) * 1.8 ));
    --size-1: clamp(calc( 2 * var(--size-base) ), calc(2 * var(--size-base) + 10vw), calc( var(--size-base) * 3.5 ));
    --size-2: clamp(calc( 1.6 * var(--size-base) ), calc(1.6 * var(--size-base) + 3vw), calc( var(--size-base) * 2.5 ));
    --size-3: clamp(calc( 1.3 * var(--size-base) ), calc(1.3 * var(--size-base) + 1vw), calc( var(--size-base) * 2.4 ));
    --size-4: clamp(calc( 1.1 * var(--size-base) ), calc(1.1 * var(--size-base) + 0.8vw), calc( var(--size-base) * 1.8 ));
    --size-5: clamp(calc( 1 * var(--size-base) ), calc(1 * var(--size-base) + 0.5vw), calc( var(--size-base) * 1.4 ));
    --size-6: clamp(calc( 1 * var(--size-base) ), calc(1 * var(--size-base) + 0.1vw), calc( var(--size-base) * 1.2 ));
}

:root {
     --space-base: 1rem;
     --space-md: 1.4rem;
     --space-lg: 3rem;
     --space-xl: 4rem;
     --space-xxl: 7rem;

     --gap: var(--space-base);
}

