---
import BaseLayout from "../layouts/baselayout.astro";
import QueryPosts from "../components/query-posts.astro";

import { CONFIG } from "@config";

import Home from "../data/home.mdx"

const url = "https://lorem-rss.herokuapp.com/feed?unit=second"

console.log("Blogroll")

async function getData(url) {

  try {
    const response = await fetch(url);
    if (!response.ok) {
      throw new Error(`Response status: ${response.status}`);
    }
    const rssText = await response.text();
    const parser = new DOMParser();
    const parsedRss = await parser.parseFromString(rssText, 'text/xml');
    console.log(rssText)

  } catch (error) {
    console.error(error.message);
  }
}

getData(url);
---

<BaseLayout>
  <h1>Blogroll</h1>
  <Home />
</BaseLayout>