<footer class="container-lg centered pw-base mt-lg mb-base">
    <hr>
    <p>Thanks for reading my blog, check my other <a href="">projects</a>. This blog is built with <a href="">Blog template name</a></p>

</footer>