---
const { allPostTags } = Astro.props;
import { sanitizeString } from "public/js/util/util";
import AllPosts from 'src/components/posts.astro';
---
<post-footer class="block mt-lg">
    <hr>
    <p>You might also be interested in the following posts</p>
    <p><strong>TODO: Smaller fonts?headings, remove current post, fallback if nothing relevant to show</strong></p>
    <AllPosts postFilter = {allPostTags} />
</post-footer>